
        body {
            background-image: url(assets/img/galaxy.gif);
            margin: 20%;
        }
 
        html {
            scroll-behavior: smooth;
        }
      
        .title {
            font-family: monospace;
            text-align: center;
            text-shadow: 10px 10px 10px rgb(27, 99, 117);
            font-size: 10vh;
            color:rgb(97, 180, 235);
            
        }
    
        .title:hover {
            color: white;
        }
 
       
        img {
            display:block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            height: 80%;
            background-color: aqua;
            border-radius: 80px;
            position: relative;
            transition:top ease 1s ;
            
        }
 
        img:hover {
            top: -20px;
        }
       
        #caption {
            text-align: center;
            font-size: 25px;
            font-family: Gill Sans;
            color: rgba(243, 230, 112, 0.712);
            position: relative;
            transition:top ease 1s ;
            
        }
 
        #caption:hover {
            top: 10px;
            color: goldenrod;
        }
        
        div#tribute-data {
            background-color: rgba(46, 63, 139, 0.274);
            box-shadow: 20px 20px 20px #9be6fd;
            font-family: Georgia;
            padding: 25px 25px;
            margin: 11px;
            margin-top: 50px;
            color: beige;
        }
 
        h1.sub-title {
            font-size: 35px;
            color: white;
            text-align: center;
            text-shadow: 5px 5px 10px black;
        }
 
        #tribute-link {
            text-decoration: none;
            color: wheat;
        }

         #quotes {
             color: rgb(183, 185, 14);
             font-family: Tahoma;
             text-align: right;
         }
         
         #info {
             text-align: center;
             color: rgb(214, 230, 245);
        
         }

        .titlezz {
            position: relative;
            animation: titlez;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
            animation-direction: normal;
            animation-play-state: running;
          }

          @keyframes titlez {
            0%   {left: 20px; top: 20px;}
            100%  {left: 0px; top: 20px;}
          }